<template>
  <div class="home-page">
    <div class="map-container">
      <google-map v-model="mapPoint" @get="getRestaurants" :markers="restaurants" />
      <v-menu offset-y v-model="menus.profile">
        <template v-slot:activator="{ on }">
          <div v-on="on" class="user-profile">
            <v-avatar size="40" class="mr-3">
              <v-gravatar :email="user.email" />
            </v-avatar>
            <span>{{user.name}}</span>
            <v-icon class="ml-2" dark>mdi-chevron-down</v-icon>
          </div>
        </template>
        <v-list>
          <v-list-item @click="closeSession">
            <v-list-item-title>
              <v-icon size="25" class="mr-3">mdi-close-octagon-outline</v-icon>Cerrar Sesión
            </v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </div>
    <v-navigation-drawer width="480" absolute permanent right>
      <template v-slot:prepend>
        <v-text-field
          filled
          rounded
          v-model="search"
          append-icon="mdi-map-search-outline"
          class="mx-6 my-3 mt-6"
          label="Busqueda"
        ></v-text-field>
      </template>

      <v-scroll-x-reverse-transition>
        <v-skeleton-loader
          v-if="loading"
          ref="restskeleton"
          type="list-item-avatar-three-line@10"
          class="mx-auto px-10"
        ></v-skeleton-loader>

        <v-list v-else dense three-line>
          <v-list-item
            class="restaurant-item mb-6 px-6 py-3"
            v-for="(item,i) in filteredRestaurants"
            :key="i"
            @click="openRestaurant(item)"
          >
            <v-list-item-icon>
              <v-avatar size="55">
                <img :src="'https://d1v73nxuzaqxgd.cloudfront.net/restaurants/' + item.logo" alt />
              </v-avatar>
            </v-list-item-icon>

            <v-list-item-content class="text-left">
              <v-list-item-title class="body-1 font-weight-regular">{{ item.name }}</v-list-item-title>
              <v-list-item-subtitle class="my-2">
                <v-icon size="15" style="margin-bottom:2px">mdi-clock-outline</v-icon>
                Entrega en {{item.deliveryTimeMaxMinutes}} min
              </v-list-item-subtitle>
              <v-list-item-subtitle>
                <div class="d-inline rating-number">{{item.rating? item.rating/10 : 0}}</div>
                <v-rating
                  readonly
                  dense
                  size="18"
                  class="d-inline"
                  :value="item.rating ? item.rating/10 : 0"
                  color="yellow darken-3"
                  background-color="grey darken-1"
                  half-increments
                  hover
                ></v-rating>
              </v-list-item-subtitle>

              <v-list-item-subtitle>
                <v-chip
                  small
                  outlined
                  class="mr-1 my-1"
                  v-for="(cat,i) in item.categories"
                  :key="i"
                >{{cat.name}}</v-chip>
              </v-list-item-subtitle>
            </v-list-item-content>
            <v-list-item-action class="my-auto">
              <v-btn
                @click.stop.native="openRestaurant(item)"
                color="primary"
                rounded
                outlined
                depressed
              >Ver mas</v-btn>
            </v-list-item-action>
          </v-list-item>
        </v-list>
      </v-scroll-x-reverse-transition>
    </v-navigation-drawer>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Watch } from "vue-property-decorator";
import Page from "./Page";
import GoogleMap from "../components/GoogleMap.vue";
import Restaurants from "../controllers/Restaurants";

interface Restaurant {
  name: string;
  categories: string[];
  rating: number;
  logo: string;
  link: string;
  opened: number;
  deliveryTimeMaxMinutes: number;
}

@Component({
  components: {
    GoogleMap
  }
})
export default class Home<Vue> extends Page {
  private search: string = "";
  private restaurants: Restaurant[] = [];
  private mapPoint: any = { lat: -34.9032784, lng: -56.1881599 }; // Centered in Montevideo
  private loading: boolean = false;
  private menus: object = {
    profile: false
  };

  get user() {
    return this.$store.state.user;
  }

  /**
   * @description Filters restaurants based on search and rating desc
   */
  get filteredRestaurants() {
    return this.restaurants
      .filter(r => r.name.toLowerCase().indexOf(this.search) > -1)
      .sort((a, b) => b.rating - a.rating);
  }

  @Watch("mapPoint")
  OnMapPointChange() {
    this.getRestaurants();
  }

  /**
   * Checks if coordinates were provided in url
   * and obtains nearby restaurants based on query or geolocation
   */
  created() {
    const { lat, lng } = this.$route.query;
    if (lat && lng) {
      this.mapPoint = { lat: +lat, lng: +lng };
    } else {
      this.geolocate();
    }

    this.getRestaurants();
  }

  /**
   * @description Centers map on current client location if allowed
   */
  geolocate() {
    navigator.geolocation.getCurrentPosition(pos => {
      this.mapPoint = {
        lat: pos.coords.latitude,
        lng: pos.coords.longitude
      };
    });
  }

  /**
   * @description Obtains a list of restaurants based on map location
   */
  async getRestaurants({ lat, lng } = this.mapPoint) {
    this.loading = true;
    const options = {
      point: `${lat}, ${lng}`,
      max: 20
    };

    try {
      let r: any = await Restaurants.get(options);
      this.restaurants = r.data.filter((r: Restaurant) => r.opened);
    } catch (e) {
      this.errorHandler(e);
    } finally {
      this.loading = false;
    }
  }

  /**
   * @description Opens a new tab with the restaurant menu
   */
  openRestaurant(item: Restaurant) {
    let link = document.createElement("a");
    link.target = "_blank";
    link.href = `http://www.pedidosya.com.uy/restaurantes/montevideo/${item.link}-menu`;
    link.click();
  }
}
</script>

<style lang="scss">
.map-container {
  position: absolute;
  width: calc(100% - 480px);
  height: 100%;

  .user-profile {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ef3143;
    color: #fff;
    cursor: pointer;
    padding: 3px 22px 3px 3px;
    border-radius: 44px;
  }
}

.restaurant-item {
  .rating-number {
    background-color: #1baf1b;
    padding: 3px 5px;
    border-radius: 3px;
    color: #fff;
    margin: 5px;
  }
}
</style>
