<template>
  <gmap-map
    :options="{ fullscreenControl: false }"
    ref="map"
    :center="model"
    @click="mapClicked"
    @dblclick="mapClicked"
    @dragend="updateList"
    :zoom="zoom"
    style="width:100%;height: 100vh;"
  >
    <gmap-marker
      :key="index"
      @click="changeCenter(getPosition(m))"
      v-for="(m, index) in markers"
      :position="getPosition(m)"
    ></gmap-marker>
  </gmap-map>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";

@Component({})
export default class GoogleMap extends Vue {
  @Prop() value!: object;
  @Prop() markers!: any[];
  private zoom: number = 14;

  get model() {
    return this.value;
  }

  set model(v) {
    this.value = v;
  }

  /**
   * @description changes map center to marker clicked
   */
  changeCenter(position: any) {
    this.$emit("input", {
      lat: position.lat,
      lng: position.lng
    });
  }

  /**
   * @description Obtains restaurants list when map is dragged
   */
  updateList() {
    //@ts-ignore
    const newCenter = this.$refs.map.$mapObject.center;
    this.$emit("get", { lat: newCenter.lat(), lng: newCenter.lng() });
  }

  /**
   * @description Changes center when map is clicked/double-clicked
   */
  mapClicked(e: any) {
    this.$emit("input", {
      lat: e.latLng.lat(),
      lng: e.latLng.lng()
    });
  }

  /**
   * @description returns restaurant coordinates
   */
  getPosition(item: any) {
    const pos = item.coordinates.split(",");
    return { lat: +pos[0], lng: +pos[1] };
  }
}
</script>