<template>
  <div class="login-page d-flex">
    <div class="peya-logo pl-12 pt-12">
      <img width="200px" src="../assets/logo.png" alt />
    </div>

    <div class="peya-background">
      <img src="../assets/peya-back.svg" alt />
    </div>

    <v-card width="450px" id="login-form" class="ma-auto elevation-0">
      <div class="display-1 py-6">Login</div>
      <div class="title py-1">Bienvenido de vuelta!</div>
      <div class="subtitle-1 py-1 pb-6">Ingrese sus credenciales para ingresar</div>
      <v-card-text>
        <v-text-field
          v-model="data.user"
          filled
          rounded
          prepend-inner-icon="mdi-at"
          suffix="@pedidosya.com"
          @keyup.native.enter="login"
          label="E-mail"
        ></v-text-field>
        <v-text-field
          v-model="data.password"
          filled
          rounded
          type="password"
          @keyup.native.enter="login"
          prepend-inner-icon="mdi-textbox-password"
          label="Password"
        ></v-text-field>
        <v-btn
          height="55px"
          :loading="loading"
          @click.native="login"
          block
          color="primary"
          depressed
        >Ingresar</v-btn>
      </v-card-text>
    </v-card>
  </div>
</template>
<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import Page from "../views/Page";
import { Users } from "@/controllers";

@Component({})
export default class PLogin<Vue> extends Page {
  private loading: boolean = false;
  private data: any = {
    user: "",
    password: ""
  };

  get user_email() {
    return this.$store.state.user.email;
  }

  set user_email(v) {
    this.$store.commit("setUserEmail", v);
  }

  async login() {
    let { user, password } = this.data;

    if (user && password) {
      if (!(user.indexOf("@pedidosya.com") > -1)) {
        user += "@pedidosya.com";
      }

      this.loading = true;
      try {
        let r: any = await Users.auth(user, password);
        this.access_token = r.access_token;
        this.user_email = user;
        this.$emit("loggedin");
      } catch (e) {
        this.info(
          "Usuario o Contraseña incorrectos",
          "Por favor, verifique la informacion e intente nuevamente"
        );
      } finally {
        this.loading = false;
      }
    } else {
      this.info(
        "Campos incompletos",
        "Complete los campos para poder continuar"
      );
    }
  }
}
</script>

<style lang="scss">
.login-page {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: #fff;
  transition: all 1s ease-out;

  > .peya-logo {
    position: absolute;
    left: 10px;
    top: 10px;
  }

  > .peya-background {
    position: absolute;
    right: 0;
    top: 0;
    width: 40%;
  }

  & > #login-form {
    background-color: transparent;

    div.display-1,
    div.title,
    div.subtitle-1,
    div.subtitle-2 {
      font-family: "Muli", sans-serif !important;
    }

    > .display-1 {
      position: relative;

      &:after {
        content: "";
        width: 100px;
        border-radius: 31px !important;
        position: absolute;
        background: linear-gradient(45deg, #f7414e30, #f52f41);
        height: 3px;
        bottom: 12px;
        left: calc(50% - 50px);
      }
    }
  }
}
</style>