<template>
  <v-app>
    <notifications group="feedback" />
    <main>
      <transition name="slide-x-transition">
        <p-login v-if="!loggedIn" @loggedin="loggedIn = true"></p-login>
        <router-view v-else />
      </transition>
    </main>
  </v-app>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import PLogin from "@/components/PLogin.vue";
import User from "@/controllers/Users";

@Component({
  components: {
    PLogin
  }
})
export default class App extends Vue {
  get user_id() {
    return this.$store.state.user.id;
  }

  set user_id(v: number) {
    this.$store.commit("setUserId", v);
  }

  get user_name() {
    return this.$store.state.user.name;
  }

  set user_name(v: string) {
    this.$store.commit("setUserName", v);
  }

  get access_token() {
    return this.$store.state.access_token;
  }

  get loggedIn() {
    return this.$store.state.loggedIn;
  }

  set loggedIn(v: boolean) {
    if (v && !this.user_id) {
      this.getAccountInfo();
    }
    this.$store.commit("setLoggedIn", v);
  }

  created() {
    if (this.access_token) {
      this.getAccountInfo();
    }
  }

  async getAccountInfo() {
    try {
      let info: any = await User.getInfo();
      this.loggedIn = true;
      this.user_id = info.id;
      this.user_name = `${info.name} ${info.lastName}`;
    } catch (e) {
      this.loggedIn = false;
    }
  }
}
</script>

<style lang="scss">
@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

#app {
  font-family: "Muli", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.peya-text {
  font-family: "Muli", sans-serif !important;
}

.vue-notification-group {
  display: block;
  position: fixed;
  z-index: 5000;
  top: 53px !important;
  right: -21px !important;
  width: 335px !important;
}

.vue-notification-wrapper {
  z-index: 9999;
  margin: 10px 0 !important;
  height: auto;
  border-radius: 4px;
  opacity: 1;
  display: block;
  overflow: hidden;
  width: 100%;
  margin: 45px 0 0 0;
  padding: 0;
  position: relative;
  right: 30px;
}

.notifications {
  top: 82px !important;
  right: 18px !important;
}

.notification-title {
  padding-bottom: 5px;
}

.vue-notification {
  cursor: pointer !important;
  font-size: 15px !important;
  padding: 13px !important;
  margin: 2px 5px 5px !important;
  box-shadow: 0 0 9px 0px #00000047;
  font-family: Mili, sans-serif;
}

.vue-notification-template {
  .vue-notification {
    .success {
      border-radius: 5px;
      border-left: 8px solid #76ca7a !important;
      box-shadow: 0 0 3px 2px #76ca7a38;
    }

    .info {
      border-radius: 5px;
      border-left: 8px solid #62a3ea !important;
      box-shadow: 0 0 3px 2px #62a3ea38;
    }

    .warning {
      border-radius: 5px;
      color: #000000b0;
      border-left: 8px solid #f7d564 !important;
      box-shadow: 0 0 3px 2px #f7d56338;
    }

    .error {
      border-left: 8px solid #dc7a7a !important;
      border-radius: 5px;
      box-shadow: 0 0 1px 1px #db7a7a38;
    }
  }
}
</style>
